/* estilos base */
.main-container {
  max-width: 900px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.evenly {
  justify-content: space-evenly;
}

.center {
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

a {
  text-decoration: none;
  color: #495e57;
}

button {
  background-color: #f4ce14;
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  color: #495e57;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #dec548;
}

h1 {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3.75rem;
  color: #f4ce14;
  margin: 0;
}

/* final estilos base */

/* estilos del header */

.header {
  padding: 1rem 0;
}

ul {
  display: flex;
  list-style: none;
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

li {
  margin: 0 1rem;
}

.header .nav a:hover {
  background-color: #f4ce14;
  padding: 0.4rem 0.75rem;
  transition: 0.5s;
  color: #495e57;
  border-radius: 0.5rem;
}

.header img {
  width: 12rem;
}

/* fin estilos del header */

/* estilos del hero */
.hero {
  background-color: #495e57;
  padding: 1.5rem;
  max-height: 18rem;
}

.content h2 {
  color: white;
  margin: 0;
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 0.2rem;
  margin-bottom: 1.75rem;
}

.hero img {
  width: 22rem;
  height: 24rem;
  object-fit: cover;
  border-radius: 1.5rem;
}

.hero p {
  color: white;
  font-family: "Karla", sans-serif;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

/* final estilos del hero */

/* estilos de los cards */

.cards-section {
  margin-top: 7rem;
  margin-bottom: 2.5rem;
}

.cards {
  display: grid;
  grid-template-columns: 17.5rem 17.5rem 17.5rem;
  justify-content: center;
  column-gap: 2rem;
}

.card img {
  width: 17.5rem;
  height: 14rem;
  object-fit: cover;
}

.card {
  background-color: #edefee;
  border-radius: 20px;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.02);
  transition: 0.5s;
}

.card-food > p {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  margin: 2rem 0;
  color: #333333;
}

.price {
  color: #ee9972;
  margin: 0;
  font-weight: bold;
}

.card-title {
  display: flex;
  justify-content: space-between;
  margin: 1.2rem;
}

.cards h3 {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5rem;
  margin: 0;
}

.card-food {
  margin: 0 1.2rem;
}

.delivery img {
  width: 1.5rem;
  height: 1.5rem;
}
.delivery {
  margin: 1rem 0;
}

.delivery a {
  gap: 0.75rem;
  cursor: pointer;
  max-width: fit-content;
}

.delivery a:hover {
  background-color: #f4ce14;
  padding: 0.4rem 0.75rem;
  transition: 0.5s;
  color: #495e57;
  border-radius: 0.5rem;
}

.delivery p {
  margin: 0;
}

.specials h2 {
  color: black;
  font-size: 4rem;
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.banner {
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
}

.banner .menu-bottom button {
  background-color: #f4ce14;
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 2.5rem;
  border-radius: 15px;
  margin-right: 6rem;
}

.banner .menu-bottom button:hover {
  background-color: #dec548;
}

/* fin estilos de los cards */

.form p {
  color: black;
}

.form h2 {
  color: black;
}
